{% extends "index.html" %}
{% block section %}
<title>List</title>
<link rel="stylesheet" href="../static/list_style.css">

<div class="irr-buying">
    <h2 class="headBuyRent">상품 구매</h2>
    <div class="product-container">
        <div class="product">
            <img src="product1.jpg" alt="상품 1">
            <div class="product-name">상품 1</div>
        </div>
        <div class="product">
            <img src="product2.jpg" alt="상품 2">
            <div class="product-name">상품 2</div>
        </div>
        <div class="product">
            <img src="product3.jpg" alt="상품 3">
            <div class="product-name">상품 3</div>
        </div>
        <div class="product">
            <img src="product4.jpg" alt="상품 4">
            <div class="product-name">상품 4</div>
        </div>
    </div>
    <div class="more-link">
        <a href="/">더보기</a>
    </div>
</div>
<br>
<br>
<br>
<div class="irr-renting">
    <h2 class="headBuyRent">물건 대여</h2>
    <div class="product-container">    
        <div class="product">
            <img src="product1.jpg" alt="상품 1">
            <div class="product-name">상품 1</div>
        </div>
        <div class="product">
            <img src="product2.jpg" alt="상품 2">
            <div class="product-name">상품 2</div>
        </div>
        <div class="product">
            <img src="product3.jpg" alt="상품 3">
            <div class="product-name">상품 3</div>
        </div>
        <div class="product">
            <img src="product4.jpg" alt="상품 4">
            <div class="product-name">상품 4</div>
        </div>
    </div>
    <div class="more-link">
        <a href="/rent_items_list">더보기</a>
    </div>
</div>
<br>
<br>
{% endblock section %}