{% extends "index.html" %}
{% block section %}
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="JavaScript/buy_items_list.js"></script>
    <title>Buy List</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='buy_items_list_style.css')}}">
</head>
<body>
    <h2>상품 목록</h2>
    <br>
    <!--정렬 옵션-->
    <form id="rentForm" action="{{ url_for('view_list') }}" method="GET">
    <div class="date-selection">
        <select id="category" name="category">
            <option value="all" {% if current_category == 'all' %}selected{% endif %}>정렬</option>
            <option value="abc" {% if current_category == 'abc' %}selected{% endif %}>가나다 순</option>
            <option value="lowcost" {% if current_category == 'lowcost' %}selected{% endif %}>가격 낮은순</option>
            <option value="highcost" {% if current_category == 'highcost' %}selected{% endif %}>가격 높은순</option>
        </select>
        <button type="button" onclick="submitForm()" id="search">검색</button>
    </div>
</form>
    <br>
    <!--데이터베이스에서 불러온 상품들을 출력-->
    {% if total > 0 %}
        
            <div class="product-container">
                {% for key, value in datas %}
                {% if value.confirm == 0 %}
                    <div class="product">
                        <a onclick="location.href='/buy_detail/{{key}}';">
                            <img src="{{ url_for('static', filename='images/' + value.img_path) }}" alt="상품">
                        </a>
                        <div class="product-name">{{ key }}</div>
                    </div>
                 {% endif %}
                {% endfor %}              
            </div>
      
        <br>
        <br>
        <!--상품등록시 로그인되지 않은 경우, login페이지로 이동하도록-->
        <form>
            <button class="addProductButton" onClick="handleButtonClick()">
            {% if session['id'] %}
                <a href="/reg_items">+ 상품등록</a>
            {% else %}
                <a href="/login">+ 상품등록</a>
            {% endif %}
            </button>
        </form>
        <br><br><br>
        <!--페이지네이션-->
        <div class="page-wrap" >
            <div class="page-nation">
                <ul>
                    <li>
                    {% for i in range(page_count)%}
                        <a href="{{url_for('view_list', page=i, category=current_category)}}" color="black">{{i+1}}</a>
                    {% endfor %} </li>
                </ul>
            </div>
        </div>
    {% else %}
        <p>등록된 상품이 없습니다. </p>
    {% endif %}
        <br>
</body>
{% endblock section %}
