<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='./style.css')}}" />
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script src="JavaScript/index.js"></script>
</head>
<body>
    <nav class="navbar">
        <div class="navbar__logo1">
            <a href="/" ><img src="{{ url_for('static', filename='images/logo2.png') }}" alt="로고1"></a>
        </div>
        <ul class="navbar__menu">
            <li><a href="/" id="home">상품구매</a></li>
            <li><a href="/rent_items_list">물건대여</a></li>
            <li><a href="/review">리뷰보기</a></li>
        </ul>
        <div class="navbar__search">
            <input type="text" placeholder="검색어 입력">
            <a href="/list">
            <button type="submit">검색</button>
            </a>
        </div>
         <ul class="navbar__menu">
            {% if session['id'] %}    
             <li>{{session['id']}}님 💚</li><li><a href="/logout"><br>로그아웃</a></li>
            {% else %}
            <li><a href="/login">로그인</a></li>
            {% endif %}
        </ul>
        <div class="navbar__logo2">
            {% if session['id'] %}
            <a href="/mypage"><img src="{{ url_for('static', filename='images/mypage.png') }}" alt="로고2"></a>
            {% else %}
            <a href="/login"><img src="{{ url_for('static', filename='images/mypage.png') }}" alt="로고2"></a>
            {% endif %}
        </div>
    </nav>
    <section>
        {% block section %}
        {% endblock section %}
    </section>
</body>
</html>
