{% extends "index.html" %}

{% block section %}
<style>
.mypage-table:not(.profile-table){
	width: 80%;
	border-collapse: collapse;
	margin: 0 auto;
}

.mypage-table #logout, .mypage-table #show_review, .seller #pause_rent, .buyer #review{
	float: right;
	background-color: #00462A;
	width: 100px;
	height: 40px;
	border-radius: 3px;
	color: #fff;
	font-size: 15px;
	border: none;
	cursor: pointer;
}
.mypage-table #show_review{
	margin-top: 20px;
}
.mypage-table #next{
	float: right;
	width: 10%;
	border: none;
	background: none;
	cursor: pointer;
}

.mypage-table #next img{
	width: 40px;
}

.mypage-table .user{
	font-size: 30px;
	padding: 10px;
}

.mypage-table th, .mypage-table td{
	text-align: left;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.mypage-table th:not(.profile-table th){
	font-size: 25px;
	vertical-align: top;
	padding-top: 20px;
    width: 20%;
}

.profile-table{
	width: 80%;
	height: 200px;
	float: left;
	border: 2px solid #00462A;
	border-radius: 10px;
	/*margin-bottom: 20px;
	margin-top: 20px;*/
}

.profile-table img{
	height: 20px;
	width: 20px;
}

.seller, .buyer{
	box-sizing: border-box;
	width: 80%;
	height: 250px;
	border: 2px solid #00462A;
	border-radius: 10px;
	padding-right: 30px;
    padding-left: 30px;
	margin-bottom: 20px;
	margin-top: 20px;
	float: left;
}

.seller #status, .buyer #status{
	font-size: 20px;
	font-weight: bold;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.seller #date, .buyer #date{
	color: #8f8f8f;
    margin-bottom: 15px;
}

.seller #name, .seller #price,
.buyer #name, .buyer #price{
	font-size: 20px;
	line-height: 50%;
    margin-bottom: 15px;
}

.seller img, .buyer img{
	float: left;
	width: 100px;
	height: 150px;
	margin-right: 20px;
    cursor: pointer;
}
.scroll-container {
        max-height: 300px; 
        overflow-y: auto;
    }
</style>
    <link rel="stylesheet" href="../static/mypage_style.css">
		<table class="mypage-table">
			<tr>
                {% if session['id'] %}
				<td colspan="2"><spark class="user">{{session['id']}}</spark> 님 반가워요
                    <button id="logout"><a href="/logout" style="color:white; text-decoration:none;">로그아웃</a></button></td>
			</tr>
			<tr>
				<th>정보</th>
				<td>
					<table class="profile-table">
						<tr>
                            <th><img src="../static/images/userid.png"> 아이디</th>
							<td>{{session['id']}}</td>
						</tr>
						<tr>
							<th><img src="../static/images/email.png"> 이메일 주소</th>
							<td><a href="mailto:{{ session['email'] }}" style="text-decoration:none;">{{ session['email'] }}</a></td>
						</tr>
						<tr>
							<th><img src="../static/images/phone.png"> 오픈채팅방 링크</th>
							<td><a href="{{session['openkakao']}}" style="text-decoration:none;">{{session['openkakao']}}</a></td>
						</tr>
						<tr>
							<th><img src="../static/images/member.png"> 단과대학 및 학과</th>
							<td>{{session['department']}}</td>
						</tr>
					</table>
                    
                        <button id="show_review"><a href="/review" style=" color: white; text-decoration: none;">리뷰보기</a></button>
				</td>
			</tr>
            {% else %}
            <h3 style="text-align:center;">
                 원활한 마이페이지 이용을 위해, 로그인을 먼저 해주시기 바랍니다.
                </h3>
            {% endif %}
			<tr>
				<th>판매물품</th>
				<td>
                    <div  class="scroll-container">
                    {% for key, value in datas %}
                        {% if value.seller==session['id'] %}
					        <div class="seller">
					            <br><br>
                                <a onclick="location.href='/buy_detail/{{key}}';">
						            <img src="{{ url_for('static', filename='images/' + value.img_path) }}" alt="image">
                                </a>
                                <p id="name">{{key}}</p>
						        <p id="price">{{value.price}}원</p>
					        </div>
                        {% endif %}
                    <!--
					<div class="seller">
						<p id="status">대여중</p>
						<img src="../static/images/labcoat.jpg" alt="image">
						<p id="date">10.13 판매</p>
						<p id="name">공대 실험복 빌려드려용</p>
						<p id="price">3,000원</p>
						<button id="pause_rent">대여 중지</button>
					</div>
                    <button id="next"><img src="../static/images/next.png"></button>
                    -->
                    {% endfor %}
                    </div>
				</td>
			</tr>
			<tr>
				<th>대여물품</th>
				<td>
                    <div class="scroll-container">
                    {% for key, value in rent_datas %}   
                        {% if value.seller==session['id'] %}
					        <div class="buyer">
						        <br><br>
                                <a onclick="location.href='/rent_detail/{{key}}';">
						            <img src="{{ url_for('static', filename='images/' + value.img_path) }}" alt="image">
                                </a>
						        <p id="name">{{key}}</p>
						        <p id="price">{{value.price}}원</p>
					        </div>
                        {% endif %}
                        <!--
					<div class="buyer">
						<p id="status">구매완료</p>
						<img src="../static/images/cat.jpg" alt="image">
						<p id="date">10.1 구매</p>
						<p id="name">고양이 키링 10cm</p>
						<p id="price">3,000원</p>
                        <a href="/reg_reviews"><button id="review">리뷰쓰기</button></a>
					</div>
                    </div>
					<button id="next"><img src="../static/images/next.png"></button>-->
                    {% endfor %}
                    </div>
				</td>
			</tr>
            <tr>
				<th>대여내역</th>
				<td>
                    <div class="scroll-container">
                     {% for key, value in rent_list_datas %}   
                    
					<div class="buyer">
						<br><br>
						<img src="{{ url_for('static', filename='images/' + value.img_path) }}" alt="image">
						<p id="name">{{key}}</p>
						<p id="price">{{value.price}}원</p><br><br><br>
                        <a href="/reg_review_init/{{key}}/"><button id="review">리뷰쓰기</button></a>
					</div>
                        <!--
					<div class="buyer">
						<p id="status">구매완료</p>
						<img src="../static/images/cat.jpg" alt="image">
						<p id="date">10.1 구매</p>
						<p id="name">고양이 키링 10cm</p>
						<p id="price">3,000원</p>
                        <a href="/reg_reviews"><button id="review">리뷰쓰기</button></a>
					</div>
                    </div>
					<button id="next"><img src="../static/images/next.png"></button>-->
                        {% endfor %}
                    </div>
				</td>
			</tr>
		</table>

{% endblock section %}
