{% extends "index.html" %}

{% block section %}
<link rel="stylesheet" href="{{ url_for('static', filename='reg_reviews_style.css')}}">
<script src="JavaScript/reg_rent_items.js"></script>

<form class="mb-3" name="myform" id="myform" method="post" action="/reg_reviews" enctype="multipart/form-data"> 
<div class="container">
    <div class="review-container">
        <!-- 상품 이미지 가져옴 -->
        <div class="image-container">
            <img src="{{ url_for('static', filename='images/' + data.img_path) }}" alt="pic">
        </div>
        <div class="text-container">
            <!-- 상품 이름 가져옴 -->
            <p>{{name}}</p><br>
            <!-- 별점 입력 -->
            <fieldset>
                <input type="radio" name="reviewStar" value="5" id="rate1" /><label for="rate1" class="rate-label">★</label>
                <input type="radio" name="reviewStar" value="4" id="rate2" /><label for="rate2" class="rate-label">★</label>
                <input type="radio" name="reviewStar" value="3" id="rate3" /><label for="rate3" class="rate-label">★</label>
                <input type="radio" name="reviewStar" value="2" id="rate4" /><label for="rate4" class="rate-label">★</label>
                <input type="radio" name="reviewStar" value="1" id="rate5" /><label for="rate5" class="rate-label">★</label>
            </fieldset>
        </div>
    </div> 
    
    <!-- 리뷰 작성 가능 영역 -->
    <table class="review-table">
        <tr>
            <!-- 리뷰 제목 -->
            <th><label class="review-title" for="reviewTitle">리뷰 제목</label></th>
            <td><input type="text" name="reviewTitle" id="reviewTitle" placeholder="리뷰 제목을 입력해주세요" required /></td>
        </tr>
        <tr>
            <!-- 리뷰 작성 -->
            <th><label class="review-title" for="reviewText">리뷰 작성</label></th>
            <td><textarea id="reviewText" name="reviewText" rows="4" cols="80" placeholder="리뷰를 작성해주세요"></textarea></td>
        </tr>
        <tr>
            <!-- 대여한 사람이 올리는 상품 이미지 -->
            <th><label class="review-title" for="reviewImage">상품 이미지</label></th>
            <td><input type="file" name="reviewImage" id="reviewImage" accept="image/*"></td>
        </tr>
    </table>
    
    <input id="name" name="name" style="visibility: visible; opacity: 0;" value="{{name}}">
    <input id="seller" name="seller" style="visibility: visible; opacity: 0;" value="{{data.seller}}">
    <input id="img_path" name="img_path" style="visibility: visible; opacity: 0;" value="{{data.img_path}}">
    {% if session['id'] %}
    <input id="writer" name="writer" style="visibility: visible; opacity: 0;" value="{{session['id']}}">
    {% endif %}
    
    <div class="buttons-container">
        <!-- 리뷰 작성 완료 -->
        <input type="submit" id="submitReview" value="거래 리뷰 작성하기">
        <button type="button" id="cancelReview"><a href="/mypage" style=" color: white; text-decoration: none;">취소하기</a></button>
    </div>
    </div>
</form>
{% endblock section %}
