{% extends "index.html" %}

{% block section %}
<link rel="stylesheet" href="{{ url_for('static', filename='reg_rent_items_style.css')}}">
<script src="JavaScript/reg_rent_items.js"></script>

<form action="/submit_rent_item_post" enctype="multipart/form-data" method="post">
    <!-- 등록할 상품 관련 정보 입력 -->
    <table class="form-table">
        <tr>
            <!-- 상품명 -->
			<th><label for="name">상품명</label></th>
			<td><input type="text" name="name" id="name" placeholder="상품명을 입력해주세요" required></td>
		</tr>
		<tr>
            <!-- 상품 가격 -->
			<th><label for="price">가격</label></th>
			<td><input type="text" name="price" id="price" placeholder="일(day)단위로 가격을 입력해주세요 ex) 1000" required></td>
		</tr>
		<tr>
            <!-- 상품 이미지 -->
			<th><label for="img">상품 이미지</label></th>
			<td><input type="file" name="file" /></td>
		</tr>
		<tr>
            <!-- 상품 키워드 -->
			<th><label for="keyword">상품 키워드</label></th>
			<td id="key"><input type="text" name="keyword" id="keyword" placeholder="상품 키워드를 입력해주세요" required></td>
		</tr>
		<tr>
            <!-- 대여 가능 기간 -->
            <th><label for="period-start">대여 가능 기간</label></th>
            <td><input type="date" name="period-start" id="period-start" required>
                <label for="period-end">→</label>
                <input type="date" name="period-end" id="period-end" required></td>
        </tr>
        <tr>
            <!-- 상품에 대한 상세 설명 -->
			<th><label for="explan">상세 설명 </label></th>
			<td><textarea id="explain" name="explain" rows="4" cols="80" placeholder="상세 설명을 입력해주세요"></textarea></td>
		</tr>
		<tr>
            <!-- 희망 전달 장소 -->
			<th><label for="addr">전달 장소</label></th>
			<td><input type="text" name="addr" id="addr" placeholder="전달 장소를 입력해주세요" required></td>
		</tr>
        <tr>
            <!-- 원하는 전달 방식(직거래, 배송 중 선택가능) -->
			<th><label for="send" id="send">전달 방식</label></th>
			<td>
			    <input type="radio" id="direct" name="send" value="직거래" required>
			    <label for="direct">직거래</label>
			    <input type="radio" id="delivery" name="send" value="배송" required>
			    <label for="delivery">배송</label>
			</td>
		</tr>
    </table>
    <!-- 등록하는 사람의 오픈챗 주소 넘겨줌 -->
    <input id="openkakao" name="openkakao" style="visibility: visible; opacity: 0;" value="{{session['openkakao']}}">
    <!-- 상품 등록 완료 -->
    <div id="submitButtonContainer">
        <input id="submitButton" type="submit" value="등록하기">
    </div>
</form>
{% endblock section %}
