{% extends "index.html" %}

{% block section %}
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='rent_detail_style.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
        
     function openBigPicture() {
        window.open("big_picture.html", "_blank");
    }
        
     function realbuying() {
          $.ajax({
            type: 'POST',
            url: '/update_rent/{{name}}/',
            data: {
                price : '{{data.price}}',
                seller: '{{data.seller}}',
                img_path: '{{data.img_path}}',
                isRent: "Y"
            },
            success: function (response) {
                alert(response['msg']);
                window.open("{{data.openkakao}}") <!-- 판매자 오픈톡 링크로 바꿔야함-->
            }
        });
          
     }
    
     function disableScroll() {
    // body 요소의 overflow를 hidden으로 변경하여 스크롤 비활성화
        document.body.style.overflow = 'hidden';
    }

     function enableScroll() {
        // body 요소의 overflow를 다시 visible로 변경하여 스크롤 활성화
         document.body.style.overflow = 'visible';
        }   
        
     $(function(){
      $("#rent-confirm").click(function(){
          realbuying(); //모달 닫기 함수 호출
          modalClose();
          disableScroll();
          //컨펌 이벤트 처리
      });
      $("#modal-open").click(function(){   
          {% if session['id'] %}
              $("#popup").css('display','flex').hide().fadeIn();
              //팝업을 flex속성으로 바꿔준 후 hide()로 숨기고 다시 fadeIn()으로 효과
              disableScroll();
           {% else %}
               alert('로그인을 먼저하세요!');
               window.location.href='/login';
           {% endif %}
      });
      $("#rent-close").click(function(){
          modalClose(); //모달 닫기 함수 호출
          disableScroll();
      });
      function modalClose(){
          $("#popup").fadeOut(); //페이드아웃 효과
      }
      $("#img-bigger").click(function(){        
         $("#img-popup").css('display','flex').hide().fadeIn();
         disableScroll();
          //팝업을 flex속성으로 바꿔준 후 hide()로 숨기고 다시 fadeIn()으로 효과
      });
      $("#img-close").click(function(){
          imgmodalClose(); //모달 닫기 함수 호출
          enableScroll();
      });
      function imgmodalClose(){
          $("#img-popup").fadeOut(); //페이드아웃 효과
      }
    });
        
      function showHeart() {
        $.ajax({
            type: 'GET',
            url: '/show_heart/{{name}}/',
            data: {},
            success: function (response){
                let my_heart = response['my_heart'];
                if (my_heart['interested'] == 'Y'){
                    $("#heart").css("color", "red");
                    $("#heart").attr("onclick", "unlike()");
                }
                else {
                    $("#heart").css("color", "grey");
                    $("#heart").attr("onclick", "like()");
                }
                //alert("showheart!")
            }
        });
    }
        
    function like(){
        $.ajax({
            type: 'POST',
            url: '/like/{{name}}/',
            data: {
                interested : "Y"
            },
            success: function (response) {
                alert(response['msg']);
                window.location.reload()
            }
        });
    }
        
     function unlike(){
        $.ajax({
            type: 'POST',
            url: '/unlike/{{name}}/',
            data: {
                interested : "N"
            },
            success: function (response) {
                alert(response['msg']);
                window.location.reload()
            }
        });
    }
    
    $(document).ready(function () {
        showHeart();
    });
        
    </script>

</head>

<body>
 <section>
    <div class="upper_section">
            
        <div class="buy_detail_info item_img" style = "width: 40%; height: 300px; margin-left: 0; margin-right: 0; margin-bottom: 5%; position: relative; overflow: hidden; align-items: center;">
            <img src="{{ url_for('static', filename='images/' + data.img_path) }}" alt="{{ key }}" style="width: 100%; max-height: 100%; object-fit: contain; position: abosolute;" >
                <form>
                  <button type="button" class="big_picture" id="img-bigger";>확대</button>
                </form>
        </div>
        
        
            <!--사진 확대창 -->    
        <div class="container">
          <div class="img-wrap" id="img-popup">
            <div class="img-popup">
              <div class="img-popup-head">
                   <span class="img-close" id="img-close">X</span>
              </div>
              <div class="img-popup-body">
                    <img src="{{ url_for('static', filename='images/' + data.img_path) }}" alt="{{ key }}" style="max-height:70vh;">     
              </div>
            </div>
          </div>
        </div>
        
        
     
         <div class="buy_detail_info info">
        <div class="upper_right_upper" style="display:flex;">
            <div class="item_name bold_title" style="float:left; margin-right:8px; margin-top: 10%;">{{ name }}</div>
            <div style="float:left; margin-top: 10%;"><sub>#{{data.keyword}}</sub></div>
        </div>
        <br>
        <div class="buy_detail_content">
        가격    : <span id="cost">{{data.price}}원</span><br> 
        대여자  : <span id="seller">{{data.seller}}</span><br>
        대여지역 : <span id="sell_area">{{data.addr}}</span><br>
        대여가능기간 : <span id="period">{{ data['period-start'] }} ~ {{ data['period-end'] }}</span><br>
        전달방식 : <span id="sell_way">{{data.send}}</span>
        </div>
        
        <div>
                    <!--<button onclick="location.href='/reg_review_init/{{name}}/';">리뷰등록</button>-->
                    <i class="fas fa-heart" id="heart" ></i>
                </div>
                
        </div>
    </div>
    <br><br><br>
    </section>
    
    
    <section>
    <hr size="5px" align="center" color="#00462A" padding="20px">
        
    <div class="down_section">  
    <div class="bold_title" style="margin-right:auto;">상품정보</div>
         <form>  
            <button type="button" class="btn_right" style="display:inline-block; margin-right:0px;"><a href="/review"> 리뷰보기 </a></button>
            <button type="button" class="btn_right" id="modal-open" style="display:inline-block;"><a> 대여하기 </a></button>      
        </form>
    </div>
        
    <div id="down_section_box">
        <pre>
{{data.explain}}
        </pre>
    </div>
    </section>
    
     <!--팝업 만들기-->

    <div class="container">
      <div class="popup-wrap" id="popup">
        <div class="popup">
          <div class="popup-head">
              <span class="head-title">잠깐!</span>
          </div>
          <div class="popup-body">
            <div class="body-content">
              <div class="body-titlebox">
                <img src="{{ url_for('static', filename='images/logo.png') }}" alt="로고1" style="width:25%; margin:10px;" >

              </div>
                 <br><br><br>
              <div class="body-contentbox">
                <p>대여를 확정하시겠습니까?</p>
              </div>
            </div>
          </div>
          <div class="popup-foot">
              <!--
            <form action="{{ url_for('update_rent', name=key) }}" enctype="multipart/form-data" method="post">
                <input type="hidden" name="price" value="{{data.price}}">
                <input type="hidden" name="seller" value="{{data.seller}}">
                <input type="hidden" name="address" value="{{data.addr}}">
                <input type="hidden" name="period" value="{{data['period-start']}} ~ {{data['period-end']}}">
                <input type="hidden" name="deliveryMethod" value="{{data.send}}">-->
            <span class="pop-btn confirm" id="rent-confirm">예</span>
             <!--</form>-->
            <span class="pop-btn close" id="rent-close">아니오</span>
          </div>
        </div>
      </div>
    </div>


</body>
{% endblock section %}
