{% extends "index.html" %}
{% block section %} 

    <title>Review</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='review_style.css')}}">

    <div class="full">
        <table style="margin-right: auto;">
            <tr>
                <td width=60% style="font-size:20px;"><b>리뷰 {{total}}건</b></td>
                <td><a href="{{ url_for('view_review', page=page, sort='photo') }}" class="sorting {% if current_sort == 'photo' %}sort_active{% endif %}">포토/동영상</a></td>
                <td><a href="{{ url_for('view_review', page=page, sort='latest') }}" class="sorting {% if current_sort == 'latest' %}sort_active{% endif %}">최신순</a></td>
                <td><a href="{{ url_for('view_review', page=page, sort='highest') }}" class="sorting {% if current_sort == 'highest' %}sort_active{% endif %}">평점 높은순</a></td>
                <td><a href="{{ url_for('view_review', page=page, sort='lowest') }}" class="sorting {% if current_sort == 'lowest' %}sort_active{% endif %}">평점 낮은순</a></td>
            </tr>
        </table><br>
    </div><br>

    <div id="screen">
        <br><br>
        <br>
        
    
        <div style="display: flex;
    flex-wrap: wrap;
    justify-content: center; width:100%; padding-right:10%; padding-left:10%;"> 
            
        {% if total > 0 %}
        {% for key, value in row1 %}
        <div style="width:40% margin:10px;" >
            
        
        <table border="1" class="all_review" style="float:left;" >
          <tr>
            <td width="70px" style="text-align:center; vertical-align:center;"><img src="{{ url_for('static', filename='images/user.png') }}"></td>
            <td>
                {% set rate_as_int = value.rate | int %}
                {% for _ in range(rate_as_int) %}
                    <label class="rate-label" for="rate{{ loop.index }}" style="color:#F0D74A">★</label>
                {% endfor %} 
                <span style="font-size:25px;"><b> {{value.rate}}</b></span><br>
                아이디명: {{value.writer}} <span style="font-size:13px; color: #9f9f9f;">{{value.date}}</span><br>
                제목: {{value.title}}
            </td>
              
            <td rowspan="2" onclick="location.href='/view_review_detail/{{key}}/';"><img height="120" width="120" style="padding=0px 10px 0px 10px; margin-right:20px;" src="{{ url_for('static', filename='images/' + value.img_path) }}"></td>
            
          </tr>
          <tr>
            <td style="padding:20px; text-align:left; vertical-align:top;" height="100px" width="380px" colspan="2"><hr>{{value.text}}</td>
          </tr>
        </table>
        </div>
        <br>
          {% endfor %}
            <br>
    {% for key, value in row2 %}
        <div style="width:40% margin:10px;" >
            
        
        <table border="1" class="all_review" style="float:left;" >
          <tr>
            <td width="70px" style="text-align:center; vertical-align:center;"><img src="{{ url_for('static', filename='images/user.png') }}"></td>
            <td>
                {% set rate_as_int = value.rate | int %}
                {% for _ in range(rate_as_int) %}
                    <label class="rate-label" for="rate{{ loop.index }}" style="color:#F0D74A">★</label>
                {% endfor %} 
                <span style="font-size:25px;"><b> {{value.rate}}</b></span><br>
                아이디명: {{value.writer}} <span style="font-size:13px; color: #9f9f9f;">{{value.date}}</span><br>
                제목: {{value.title}}
            </td>

              
            <td rowspan="2" onclick="location.href='/view_review_detail/{{key}}/';"><img height="120" width="120" style="margin-right:20px;" src="{{ url_for('static', filename='images/' + value.img_path) }}"></td>
          </tr>
          <tr>
            <td style="padding:20px; text-align:left; vertical-align:top;" height="100px" width="380px" colspan="2"><hr>{{value.text}}</td>
          </tr>
        </table>
        </div>
        <br>
          {% endfor %}
            <br>
         {% for key, value in row3 %}
        <div style="width:40% margin:10px;" >
            
        
        <table border="1" class="all_review" style="float:left;" >
          <tr>
            <td width="70px" style="text-align:center; vertical-align:center;"><img src="{{ url_for('static', filename='images/user.png') }}"></td>
            <td>
                {% set rate_as_int = value.rate | int %}
                {% for _ in range(rate_as_int) %}
                    <label class="rate-label" for="rate{{ loop.index }}" style="color:#F0D74A">★</label>
                {% endfor %} 
                <span style="font-size:25px;"><b> {{value.rate}}</b></span><br>
                아이디명: {{value.writer}} <span style="font-size:13px; color: #9f9f9f;">{{value.date}}</span><br>
                제목: {{value.title}}
            </td>
              
            <td rowspan="2" onclick="location.href='/view_review_detail/{{key}}/';"><img height="120" width="120" style="margin-right:20px;" src="{{ url_for('static', filename='images/' + value.img_path) }}"></td>
            
          </tr>
          <tr>
            <td style="padding:20px; text-align:left; vertical-align:top;" height="100px" width="380px" colspan="2"><hr>{{value.text}}</td>
          </tr>
        </table>
        </div>
        <br>
          {% endfor %}   
            
            
        </div>  
          
          <div class="page-wrap">
         <div class="page-nation">
         <ul>
         <li>
         {% for i in range(page_count)%}
         <a href="{{url_for('view_review', page=i, sort=current_sort)}}" color="black" {% if page==i %}class="active"{% endif %}>{{i+1}}</a>
         {% endfor %}
         </li>
         </ul>
         </div>
        </div>
        {% else %}
        <p>
         등록된 리뷰가 없습니다.
        </p>
        {% endif %}
</div>
<br>
{% endblock section %}



  
