{% extends "index.html" %}
{% block section %}

<link rel="stylesheet" href="{{ url_for('static', filename='review_detail_style.css')}}">

<table class="review_detail" style="padding:100px; background-color:rgba(0,72,42,0.1);">
    <tr>
        <!-- 리뷰 상세 보기 화면의 배경화면 색 설정 -->
        <td class="review_img" style="text-align:center; background-color:white;"><img height="580" width="580" style="background-color:white;" src="{{ url_for('static', filename='images/' + data.img_path) }}"></td>
        <td class="review_text">
            <table style="padding:10%; background-color:white;" width="100%">
                <tr>
                    <!-- 리뷰 작성자가 작성한 내용 보여줌(작성자가 올린 이미지, 별점, 아이디, 제목, 상세 내용) -->
                    <td width="10%" style="text-align:left;"><img src="{{ url_for('static', filename='images/user.png') }}"></td>
                    <td colspan="2">
                        <button class="close"><a href="javascript:history.back();" style="color: black;">x</a></button>
                        {% set rate_as_int = data.rate | int %}
                        {% for _ in range(rate_as_int) %}
                        <label class="rate-label" for="rate{{ loop.index }}">★</label>
                        {% endfor %} 
                        <span style="font-size:25px;"><b> {{data.rate}}</b></span><br>
                        아이디명ㅣ {{data.writer}}  <span style="font-size:13px; color: #9f9f9f;">{{data.date}}</span><br><br>
                    </td>
                <tr><td colspan="3"><hr></td></tr>
                <tr>
                    <td colspan="3" style="padding:20px;">상품명: {{data.item}}<br><br>제목: {{data.title}}</td>
                </tr>
                <tr><td colspan="3"><hr></td></tr>
                <tr>
                    <td height="300px" colspan="3" style="padding:20px; text-align:left; vertical-align:top;">{{data.text}}</td>
                </tr>
                <tr><td colspan="3"><hr></td></tr>
                <tr>
            </table>
        </td>
    </tr>
</table>
{% endblock section %}
