{% extends "index.html" %}


{% block section %} 
    <title>Review</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='review_style.css')}}">

    <div id="full">
      <div id="screen_left">
        <article><br><br>
          <h2>판매자 리뷰</h2><br>
          <table class="table_review" style="background-color:#D9D9D9; text-align:center;">
            <tr class="center">
              <th>사용자 총 평점</th>
              <th width="130px">전체 리뷰 수</th>
              <th>정보</th>
            </tr>
            <tr height="30px">
              <td class="center"><img src="{{ url_for('static', filename='images/star.png') }}"></td>
              <td class="center"><img src="{{ url_for('static', filename='images/reviewicon.png') }}"></td>
              <td style="padding:10px;" rowspan="2">
                <ul style="list-style:none; text-align:left;">
                  <li><b>이메일: </b><a href="mailto:example@ewhain.net">example@ewhain.net</a></li>
                  <li><b>오픈채팅: </b><a href="https://open.kakao.com/o/gDArYOMf">https://open.kakao.com/o/gDArYOMf</a></li>
                  <li><b>학과: </b>엘텍공과대학 - 컴퓨터공학과</li>
                </ul>
              </td>
            </tr>
            <tr height="30px" class="center">
              <td><b>4.8</b>/5</td>
              <td><b>13</b></td>
            </tr>
          </table>
        </article>
        <br><br>
        <!--BEST 리뷰-->
        <article><br>
          <h2>BEST 리뷰</h2><br>
          <table border="1" class="best_review">
            <tr>
              <td width="70px" style="text-align:center; vertical-align:top;"><img src="{{ url_for('static', filename='images/user.png') }}"></td>
              <td>
                <img src="{{ url_for('static', filename='images/realstar.png') }}"><span style="font-size:25px;"><b> 5</b></span><br>
                아이디명 23.08.23.<br>
                제목: 채고에요
              </td>
              <td rowspan="4"><iframe height="150" width="150"></iframe></td>
            </tr>
            <tr>
              <td style="padding:20px; text-align:left; vertical-align:top;" height="100px" width="500px" colspan="2">상품 상태도 너무 좋고 판매자도 친절합니다!</td>
            </tr>
          </table><br>
          <table border="1" class="best_review">
            <tr>
              <td width="70px" style="text-align:center; vertical-align:top;"><img src="{{ url_for('static', filename='images/user.png') }}"></td>
              <td>
                <img src="{{ url_for('static', filename='images/realstar.png') }}"><span style="font-size:25px;"><b> 5</b></span><br>
                아이디명 23.08.23.<br>
                제목: 채고에요
              </td>
              <td rowspan="4"><iframe height="150" width="150"></iframe></td>
            </tr>
            <tr>
              <td style="padding:20px; text-align:left; vertical-align:top;" height="100px" width="500px" colspan="2">상품 상태도 너무 좋고 판매자도 친절합니다!</td>
            </tr>
          </table>
        </article>
      </div>
      </div>
      <div id="screen_right">
        <br><br>
          {% if total > 0 %}
        <table>
          <tr>
              <td width=250px style="font-size:20px;"><b>리뷰 {{total}}건</b></td>
            <td style="padding:10px;"><a href=""><b>랭킹순</b></a></td>
            <td style="padding:10px;">최신순</td>
            <td style="padding:10px;">평점 높은순</td>
            <td style="padding:10px;">평점 낮은순</td>
          </tr>
        </table><br>
        <table>
          <tr>
            <td><a href="" style="padding:0px 40px 0px 40px; text-decoration-color:black;"><b>전체보기</b></a></td>
            <td>포토/동영상</td>
            <td style="padding:0px 40px 0px 40px;" style="padding:0px 40px 0px 40px;">한달사용리뷰</td>
            <td style="padding:0px 40px 0px 40px;">재구매</td>
          </tr>
        </table><br>
        {% for key, value in row1 %}
        <table border="1" class="all_review" >
          <tr>
            <td width="70px" style="text-align:center; vertical-align:top;"><img src="{{ url_for('static', filename='images/user.png') }}"></td>
            <td>
              <img src="{{ url_for('static', filename='images/realstar.png') }}"><span style="font-size:25px;"><b> {{value.rate}}</b></span><br>
              아이디명: {{value.writer}}<br>
              제목: {{value.title}}
            </td>
              
            <td rowspan="2" onclick="location.href='/view_review_detail/{{key}}/';"><img height="120" width="120" src="{{ url_for('static', filename='images/' + value.img_path) }}"></td>
            <td style="padding:0px 10px 0px 10px;" rowspan="2" ><img src="{{ url_for('static', filename='images/thumbsup.png') }}" alt="추천 버튼"><span style="font-size:20px;"><b> 2</b></span></td>
          </tr>
          <tr>
            <td style="padding:20px; text-align:left; vertical-align:top;" height="100px" width="380px" colspan="2">{{value.text}}</td>
          </tr>
        </table><br>
          {% endfor %}
          
          {% for key, value in row2 %}
        <table border="1" class="all_review" >
          <tr>
            <td width="70px" style="text-align:center; vertical-align:top;"><img src="{{ url_for('static', filename='images/user.png') }}"></td>
            <td>
              <img src="{{ url_for('static', filename='images/realstar.png') }}"><span style="font-size:25px;"><b> {{value.rate}}</b></span><br>
              아이디명: {{value.writer}}<br>
              제목: {{value.title}}
            </td>
              
            <td rowspan="2" onclick="location.href='/view_review_detail/{{key}}/';"><img height="120" width="120" src="{{ url_for('static', filename='images/' + value.img_path) }}"></td>
            <td style="padding:0px 10px 0px 10px;" rowspan="2" ><img src="{{ url_for('static', filename='images/thumbsup.png') }}" alt="추천 버튼"><span style="font-size:20px;"><b> 2</b></span></td>
          </tr>
          <tr>
            <td style="padding:20px; text-align:left; vertical-align:top;" height="100px" width="380px" colspan="2">{{value.text}}</td>
          </tr>
        </table><br>
          {% endfor %}
          {% for key, value in row3 %}
        <table border="1" class="all_review" >
          <tr>
            <td width="70px" style="text-align:center; vertical-align:top;"><img src="{{ url_for('static', filename='images/user.png') }}"></td>
            <td>
              <img src="{{ url_for('static', filename='images/realstar.png') }}"><span style="font-size:25px;"><b> {{value.rate}}</b></span><br>
              아이디명: {{value.writer}}<br>
              제목: {{value.title}}
            </td>
              
            <td rowspan="2" onclick="location.href='/view_review_detail/{{key}}/';"><img height="120" width="120" src="{{ url_for('static', filename='images/' + value.img_path) }}"></td>
            <td style="padding:0px 10px 0px 10px;" rowspan="2" ><img src="{{ url_for('static', filename='images/thumbsup.png') }}" alt="추천 버튼"><span style="font-size:20px;"><b> 2</b></span></td>
          </tr>
          <tr>
            <td style="padding:20px; text-align:left; vertical-align:top;" height="100px" width="380px" colspan="2">{{value.text}}</td>
          </tr>
        </table><br>
          {% endfor %}
          <div class="page-wrap">
         <div class="page-nation">
         <ul>
         <li>
         {% for i in range(page_count)%}
         <a href="{{url_for('view_review', page=i)}}" color="black">{{i+1}}</a>
         {% endfor %}
         </li>
         </ul>
         </div>
        </div>
        {% else %}
        <p>
         등록된 리뷰가 없습니다.
        </p>
        {% endif %}
</div>

{% endblock section %}

  

